<?xml version="1.0" encoding="utf-8"?>
<VisionParam>
  <T3_1>
    <Version>1.0</Version>
    <Train_Sucker_X>-108.159</Train_Sucker_X>
    <Train_Sucker_Y>-155.940</Train_Sucker_Y>
    <Train_Sucker_T>-179.862</Train_Sucker_T>
    <TrainedRobotX>-71.130</TrainedRobotX>
    <TrainedRobotY>-156.550</TrainedRobotY>
    <TrainedRobotT>-44.680</TrainedRobotT>
  </T3_1>
  <T34_RawData>
    <T34_OutputStringFiducalMark>System.String</T34_OutputStringFiducalMark>
  </T34_RawData>
  <Branch1.0_RawData>
   <T1_Assembly>System.String</T1_Assembly>
   <T1_Recheck>System.String</T1_Recheck>
   <T1Acq>System.String</T1Acq>
   <T21_Recheck>System.String</T21_Recheck>
   <T2Acq>System.String</T2Acq>
  </Branch1.0_RawData>
  <Branch1.0_OutPutString>
   <Count>3</Count>
   <Para_1>T1_Assembly=1</Para_1>
   <Para_2>T1Acq=1</Para_2>
   <Para_3>T21_Recheck=1</Para_3> 
  </Branch1.0_OutPutString>
  <T34_OutPutString>
    <Count>1</Count>
    <Para_1>T34_OutputStringFiducalMark=1</Para_1>
  </T34_OutPutString>
  <T32_RawData>
    <T32_B6>System.Double</T32_B6>
    <T32_B7>System.Double</T32_B7>
    <T32_B8>System.Double</T32_B8>
    <T32_B9>System.Double</T32_B9>
    <T32_Barcode1>System.String</T32_Barcode1>
    <T32_Barcode2>System.String</T32_Barcode2>
    <T32_ErrorCode>System.Int32</T32_ErrorCode>
    <T32_B10>System.Double</T32_B10>
    <T32_B11>System.Double</T32_B11>
    <T32_B12>System.Double</T32_B12>
    <strErrorCode>System.String</strErrorCode>
    <B1>System.Double</B1>
    <B2>System.Double</B2>
    <B3>System.Double</B3>
    <B4>System.Double</B4>
    <B5>System.Double</B5>
    <B13>System.Double</B13>
    <T32_B1>System.Double</T32_B1>
    <T32_B2>System.Double</T32_B2>
    <T32_B3>System.Double</T32_B3>
    <T32_B4>System.Double</T32_B4>
    <T32_B5>System.Double</T32_B5>
    <T32_B13>System.Double</T32_B13>
    <T32_X3>System.Double</T32_X3>
    <T32_Y3>System.Double</T32_Y3>
    <T32_X1>System.Double</T32_X1>
    <T32_VHB_Angle>System.Double</T32_VHB_Angle>
  </T32_RawData>
  <T44_RawData>
    <T44_B1>System.Double</T44_B1>
    <T44_B2>System.Double</T44_B2>
    <T44_B3>System.Double</T44_B3>
    <T44_B4>System.Double</T44_B4>
    <T44_B5>System.Double</T44_B5>
    <T44_TopBatEar_X>System.Double</T44_TopBatEar_X>
    <T44_TopBatEar_Y>System.Double</T44_TopBatEar_Y>
    <T44_BottomBatEar_X>System.Double</T44_BottomBatEar_X>
    <T44_BottomBatEar_Y>System.Double</T44_BottomBatEar_Y>
    <T44_BatEar_X_MaxDist>System.Double</T44_BatEar_X_MaxDist>
    <T44_B13>System.Double</T44_B13>
    <T44_OutputStringBatteryFiducialMarkHole>System.String</T44_OutputStringBatteryFiducialMarkHole>
    <T44_OutputStringBatteryFiducalMarkShiny>System.String</T44_OutputStringBatteryFiducalMarkShiny>
    <T44_theAnlgeOfLeftLineAnd_B_>System.Double</T44_theAnlgeOfLeftLineAnd_B_>
    <T44_theAngleOfmidRightAndLeftSeg>System.Double</T44_theAngleOfmidRightAndLeftSeg>
    <T44_TopLeftBatEar_X>System.Double</T44_TopLeftBatEar_X>
    <T44_TopLeftBatEar_Y>System.Double</T44_TopLeftBatEar_Y>
    <T44_BottomRightBatEar_X>System.Double</T44_BottomRightBatEar_X>
    <T44_BottomRightBatEar_Y>System.Double</T44_BottomRightBatEar_Y>
    <T44_TopRightBatEar_X>System.Double</T44_TopRightBatEar_X>
    <T44_TopRightBatEar_Y>System.Double</T44_TopRightBatEar_Y>
    <T44_BottomLeftBatEar_X>System.Double</T44_BottomLeftBatEar_X>
    <T44_BottomLeftBatEar_Y>System.Double</T44_BottomLeftBatEar_Y>
    <BatteryOffSet_x>System.Double</BatteryOffSet_x>
    <BatteryOffSet_y>System.Double</BatteryOffSet_y>
    <BatteryOffSet_anlge>System.Double</BatteryOffSet_anlge>
    <T44_BatteryOffSet_x>System.Double</T44_BatteryOffSet_x>
    <T44_BatteryOffSet_y>System.Double</T44_BatteryOffSet_y>
    <T44_BatteryOffSet_anlge>System.Double</T44_BatteryOffSet_anlge>
    <T44_AngleOfLeftSeg1AndSeg2>System.Double</T44_AngleOfLeftSeg1AndSeg2>
    <AngleOfVAndH>System.Double</AngleOfVAndH>
    <Sucker_x>System.Double</Sucker_x>
    <Sucker_y>System.Double</Sucker_y>
    <Sucker_anlge>System.Double</Sucker_anlge>
    <Battery_x>System.Double</Battery_x>
    <Battery_y>System.Double</Battery_y>
    <Battery_anlge>System.Double</Battery_anlge>
  </T44_RawData>
  <T44_OutPutString>
    <Count>27</Count>
    <Para_1>T44_B1=1</Para_1>
    <Para_2>T44_B2=1</Para_2>
    <Para_3>T44_B3=1</Para_3>
    <Para_4>T44_B4=1</Para_4>
    <Para_5>T44_B5=1</Para_5>
    <Para_6>T44_B13=1</Para_6>
    <Para_7>T44_TopLeftBatEar_X=1</Para_7>
    <Para_8>T44_TopLeftBatEar_Y=1</Para_8>
    <Para_9>T44_TopRightBatEar_X=1</Para_9>
    <Para_10>T44_TopRightBatEar_Y=1</Para_10>
    <Para_11>T44_BottomLeftBatEar_X=1</Para_11>
    <Para_12>T44_BottomLeftBatEar_Y=1</Para_12>
    <Para_13>T44_BottomRightBatEar_X=1</Para_13>
    <Para_14>T44_BottomRightBatEar_Y=1</Para_14>
    <Para_15>T44_theAngleOfmidRightAndLeftSeg=1</Para_15>
    <Para_16>T44_OutputStringBatteryFiducialMarkHole=1</Para_16>
    <Para_17>T44_OutputStringBatteryFiducalMarkShiny=1</Para_17>
    <Para_18>T44_BatteryOffSet_x=1</Para_18>
    <Para_19>T44_BatteryOffSet_y=1</Para_19>
    <Para_20>T44_BatteryOffSet_anlge=1</Para_20>
    <Para_21>T44_AngleOfLeftSeg1AndSeg2=1</Para_21>
    <Para_22>Sucker_x=1</Para_22>
    <Para_23>Sucker_y=1</Para_23>
    <Para_24>Sucker_anlge=1</Para_24>
    <Para_25>Battery_x=1</Para_25>
    <Para_26>Battery_y=1</Para_26>
    <Para_27>Battery_anlge=1</Para_27>
  </T44_OutPutString>
  <T32_OutPutString>
    <Count>20</Count>
    <Para_1>T32_ErrorCode=1</Para_1>
    <Para_2>T32_B6=1</Para_2>
    <Para_3>T32_B7=1</Para_3>
    <Para_4>T32_B8=1</Para_4>
    <Para_5>T32_B9=1</Para_5>
    <Para_6>T32_B10=1</Para_6>
    <Para_7>T32_B11=1</Para_7>
    <Para_8>T32_B12=1</Para_8>
    <Para_9>T32_Barcode1=1</Para_9>
    <Para_10>T32_Barcode2=1</Para_10>
    <Para_11>T32_B1=1</Para_11>
    <Para_12>T32_B2=1</Para_12>
    <Para_13>T32_B3=1</Para_13>
    <Para_14>T32_B4=1</Para_14>
    <Para_15>T32_B5=1</Para_15>
    <Para_16>T32_B13=1</Para_16>
    <Para_17>T32_X1=1</Para_17>
    <Para_18>T32_X3=1</Para_18>
    <Para_19>T32_Y3=1</Para_19>
    <Para_20>T32_VHB_Angle=1</Para_20>
  </T32_OutPutString>
  <T41_RawData>
    <T41_H1>System.Double</T41_H1>
    <T41_H2>System.Double</T41_H2>
    <T41_H3>System.Double</T41_H3>
    <T41_H4>System.Double</T41_H4>
    <T41_H5>System.Double</T41_H5>
    <T41_H6>System.Double</T41_H6>
    <T41_H7>System.Double</T41_H7>
    <T41_H8>System.Double</T41_H8>
    <T41_H9>System.Double</T41_H9>
    <T41_H10>System.Double</T41_H10>
    <T41_H11>System.Double</T41_H11>
    <T41_H12>System.Double</T41_H12>
    <T41_H13>System.Double</T41_H13>
    <T41_ErrorCode>System.Int32</T41_ErrorCode>
    <T41_HSGFiducialMarkOutputString>System.String</T41_HSGFiducialMarkOutputString>
    <T41_H14>System.Double</T41_H14>
    <strErrorCode>System.String</strErrorCode>
    <MLBToFlex_MaxDis>System.Double</MLBToFlex_MaxDis>
    <MLBToFlex_MinDis>System.Double</MLBToFlex_MinDis>
    <LeftSimToRightLienDis>System.Double</LeftSimToRightLienDis>
    <MidSimToRightLienDis>System.Double</MidSimToRightLienDis>
    <RightSimToRightLienDis>System.Double</RightSimToRightLienDis>
    <IsWhitePatchOK>System.Boolean</IsWhitePatchOK>
    <G4_MLBY_LineFindOK>System.Boolean</G4_MLBY_LineFindOK>
    <T41_IsWhitePatchOK>System.Boolean</T41_IsWhitePatchOK>
    <T41_G4_MLBY_LineFindOK>System.Boolean</T41_G4_MLBY_LineFindOK>
    <T41_HelpCGSAngle>System.Double</T41_HelpCGSAngle>
    <HSG_Position_X>System.Double</HSG_Position_X>
    <HSG_Position_Y>System.Double</HSG_Position_Y>
    <T41_HSG_Position_X>System.Double</T41_HSG_Position_X>
    <T41_HSG_Position_Y>System.Double</T41_HSG_Position_Y>
    <T41_HSG_Position_Angle>System.Double</T41_HSG_Position_Angle>
  </T41_RawData>
  <T43_RawData>
    <ErrorCode>System.Int32</ErrorCode>
    <Gap1_Top>System.Double</Gap1_Top>
    <Gap2>System.Double</Gap2>
    <Gap3>System.Double</Gap3>
    <Gap4>System.Double</Gap4>
    <Gap5Left>System.Double</Gap5Left>
    <Gap5Right>System.Double</Gap5Right>
    <Gap6>System.Double</Gap6>
    <Angle>System.Double</Angle>
    <BatteryToBottomSpk>System.Double</BatteryToBottomSpk>
    <BatteryToFlex>System.Double</BatteryToFlex>
    <T43FiducialMarkHSGOutputString>System.String</T43FiducialMarkHSGOutputString>
    <MarkDistance>System.Double</MarkDistance>
    <Gap8>System.Double</Gap8>
    <Gap9>System.Double</Gap9>
    <Gap10>System.Double</Gap10>
    <Gap11>System.Double</Gap11>
    <Gap12>System.Double</Gap12>
    <Gap13>System.Double</Gap13>
    <Gap14>System.Double</Gap14>
    <Gap1_Bottom>System.Double</Gap1_Bottom>
    <Dis_CatchToRef>System.Double</Dis_CatchToRef>
    <Gap7>System.Double</Gap7>
    <T41_G4_MLBY_LineFindOK>System.Boolean</T41_G4_MLBY_LineFindOK>
    <T43_G4_MLBY_LineFindOK>System.Boolean</T43_G4_MLBY_LineFindOK>
    <G5LeftSP>System.Double</G5LeftSP>
    <G5RightSP>System.Double</G5RightSP>
    <BatteryPerpendicular_Angle>System.Double</BatteryPerpendicular_Angle>
    <Gap62>System.Double</Gap62>
    <T43_HSG_Position_X>System.Double</T43_HSG_Position_X>
    <T43_HSG_Position_Y>System.Double</T43_HSG_Position_Y>
    <Collection_Gap4_2>System.Double</Collection_Gap4_2>
    <HSG_Position_Angle>System.Double</HSG_Position_Angle>
    <T43_HSG_Position_Angle>System.Double</T43_HSG_Position_Angle>
  </T43_RawData>
  <T41_OutPutString>
    <Count>26</Count>
    <Para_1>T41_ErrorCode=1</Para_1>
    <Para_2>T41_H1=1</Para_2>
    <Para_3>T41_H2=1</Para_3>
    <Para_4>T41_H3=1</Para_4>
    <Para_5>T41_H4=1</Para_5>
    <Para_6>T41_H5=1</Para_6>
    <Para_7>T41_H6=1</Para_7>
    <Para_8>T41_H7=1</Para_8>
    <Para_9>T41_H8=1</Para_9>
    <Para_10>T41_H9=1</Para_10>
    <Para_11>T41_H10=1</Para_11>
    <Para_12>T41_H11=1</Para_12>
    <Para_13>T41_H12=1</Para_13>
    <Para_14>T41_H13=1</Para_14>
    <Para_15>T41_H14=1</Para_15>
    <Para_16>T41_HSGFiducialMarkOutputString=1</Para_16>
    <Para_17>LeftSimToRightLienDis=1</Para_17>
    <Para_18>MidSimToRightLienDis=1</Para_18>
    <Para_19>RightSimToRightLienDis=1</Para_19>
    <Para_20>MLBToFlex_MaxDis=1</Para_20>
    <Para_21>MLBToFlex_MinDis=1</Para_21>
    <Para_22>T41_IsWhitePatchOK=1</Para_22>
    <Para_23>T41_HelpCGSAngle=1</Para_23>
    <Para_24>T41_HSG_Position_X=1</Para_24>
    <Para_25>T41_HSG_Position_Y=1</Para_25>
    <Para_26>T41_HSG_Position_Angle=1</Para_26>
  </T41_OutPutString>
  <T43_OutPutString>
    <Count>30</Count>
    <Para_1>ErrorCode=1</Para_1>
    <Para_2>Gap1_Top=1</Para_2>
    <Para_3>Gap1_Bottom=1</Para_3>
    <Para_4>Gap2=1</Para_4>
    <Para_5>Gap3=1</Para_5>
    <Para_6>Gap4=1</Para_6>
    <Para_7>Gap5Left=1</Para_7>
    <Para_8>Gap5Right=1</Para_8>
    <Para_9>Gap6=1</Para_9>
    <Para_10>Gap7=1</Para_10>
    <Para_11>Gap8=1</Para_11>
    <Para_12>Gap9=1</Para_12>
    <Para_13>Gap10=1</Para_13>
    <Para_14>Gap11=1</Para_14>
    <Para_15>Gap12=1</Para_15>
    <Para_16>Gap13=1</Para_16>
    <Para_17>Gap14=1</Para_17>
    <Para_18>Angle=1</Para_18>
    <Para_19>MarkDistance=1</Para_19>
    <Para_20>BatteryToFlex=1</Para_20>
    <Para_21>BatteryToBottomSpk=1</Para_21>
    <Para_22>G5LeftSP=1</Para_22>
    <Para_23>G5RightSP=1</Para_23>
    <Para_24>T41_G4_MLBY_LineFindOK=1</Para_24>
    <Para_25>T43_G4_MLBY_LineFindOK=1</Para_25>
    <Para_26>BatteryPerpendicular_Angle=1</Para_26>
    <Para_27>Collection_Gap4_2=1</Para_27>
    <Para_28>T43_HSG_Position_X=1</Para_28>
    <Para_29>T43_HSG_Position_Y=1</Para_29>
    <Para_30>T43_HSG_Position_Angle=1</Para_30>
  </T43_OutPutString>
  <T45_RawData>
    <T45_FiducialMarkHSGOutputString>System.String</T45_FiducialMarkHSGOutputString>
    <T45_Output_x>System.Double</T45_Output_x>
    <T45_Output_y>System.Double</T45_Output_y>
    <T45_Output_angle>System.Double</T45_Output_angle>
    <T45_nStopCloseLoop>System.Int32</T45_nStopCloseLoop>
    <T45_Gap1_Top>System.Double</T45_Gap1_Top>
    <T45_Gap1_Bottom>System.Double</T45_Gap1_Bottom>
    <T45_Gap2>System.Double</T45_Gap2>
    <T45_Gap3>System.Double</T45_Gap3>
    <T45_Gap4>System.Double</T45_Gap4>
    <T45_Gap5_Left>System.Double</T45_Gap5_Left>
    <T45_Gap5_Right>System.Double</T45_Gap5_Right>
    <T45_Gap6>System.Double</T45_Gap6>
    <T45_Gap7>System.Double</T45_Gap7>
    <T45_Gap8>System.Double</T45_Gap8>
    <T45_Gap9>System.Double</T45_Gap9>
    <T45_Gap10>System.Double</T45_Gap10>
    <T45_Gap11>System.Double</T45_Gap11>
    <T45_Gap12>System.Double</T45_Gap12>
    <T45_Gap13>System.Double</T45_Gap13>
    <T45_Gap14>System.Double</T45_Gap14>
    <T45_ErrorCode>System.Int32</T45_ErrorCode>
    <T44_theAnlgeOfLeftLineAnd_B_>System.Double</T44_theAnlgeOfLeftLineAnd_B_>
    <T45_OutputStringBatteryFiducalMarkShiny>System.String</T45_OutputStringBatteryFiducalMarkShiny>
    <OutputStringBatteryFiducalMarkShiny>System.String</OutputStringBatteryFiducalMarkShiny>
    <T45_B6>System.Double</T45_B6>
    <T45_B7>System.Double</T45_B7>
    <T45_B8>System.Double</T45_B8>
    <T45_B9>System.Double</T45_B9>
  </T45_RawData>
  <T45_OutPutString>
    <Count>26</Count>
    <Para_1>T45_ErrorCode=1</Para_1>
    <Para_2>T45_nStopCloseLoop=1</Para_2>
    <Para_3>T45_Output_x=1</Para_3>
    <Para_4>T45_Output_y=1</Para_4>
    <Para_5>T45_Output_angle=1</Para_5>
    <Para_6>T45_Gap1_Top=1</Para_6>
    <Para_7>T45_Gap1_Bottom=1</Para_7>
    <Para_8>T45_Gap2=1</Para_8>
    <Para_9>T45_Gap3=1</Para_9>
    <Para_10>T45_Gap4=1</Para_10>
    <Para_11>T45_Gap5_Left=1</Para_11>
    <Para_12>T45_Gap5_Right=1</Para_12>
    <Para_13>T45_Gap6=1</Para_13>
    <Para_14>T45_Gap7=1</Para_14>
    <Para_15>T45_Gap8=1</Para_15>
    <Para_16>T45_Gap9=1</Para_16>
    <Para_17>T45_Gap10=1</Para_17>
    <Para_18>T45_Gap11=1</Para_18>
    <Para_19>T45_Gap12=1</Para_19>
    <Para_20>T45_Gap13=1</Para_20>
    <Para_21>T45_Gap14=1</Para_21>
    <Para_22>OutputStringBatteryFiducalMarkShiny=1</Para_22>
    <Para_23>T45_B6=1</Para_23>
    <Para_24>T45_B7=1</Para_24>
    <Para_25>T45_B8=1</Para_25>
    <Para_26>T45_B9=1</Para_26>
  </T45_OutPutString>
  <CorrectMapMethod>
    <UseT34>False</UseT34>
  </CorrectMapMethod>
  <OnlyUsedSimulate>
    <OnlySimulate>False</OnlySimulate>
  </OnlyUsedSimulate>
  <UsedNPMap>
    <UsedNPMapping>True</UsedNPMapping>
  </UsedNPMap>
  <SetVppVer>
    <VppVer>3.3.0.1</VppVer>
  </SetVppVer>
  <ImageOKRtn>
    <ImmedAOI>True</ImmedAOI>
    <ImmedT32>False</ImmedT32>
    <ImmedT41>False</ImmedT41>
    <ImmedT44>False</ImmedT44>
    <ImmedT43>True</ImmedT43>
  </ImageOKRtn>
  <T5RChkGapSpec>
    <Gap1Top>1.399</Gap1Top>
    <Gap1Bottom>1.488</Gap1Bottom>
    <Gap2>0.709</Gap2>
    <Gap3>19.420</Gap3>
    <Gap4>2.072</Gap4>
    <Gap5>0.709</Gap5>
    <Gap6>3.447</Gap6>
  </T5RChkGapSpec>
  <GroupDelayTimeSetting>
    <DelayTime>5000</DelayTime>
  </GroupDelayTimeSetting>
  <T51ReturnSetting>
    <HoldT51>False</HoldT51>
  </T51ReturnSetting>
  <AutoRunImages>
    <ImageType>*.bmp</ImageType>
    <ImageFloder>G:\Imagesave\NG</ImageFloder>
    <tbID>4,5,7,8,13,16,17</tbID>
    <RunMode>MultipleImage</RunMode>
    <DelayTime>2000</DelayTime>
  </AutoRunImages>
  <calcGapSpec>
    <Gap1Top>2.148</Gap1Top>
    <Gap1Bottom>1.588</Gap1Bottom>
    <Gap2>0.709</Gap2>
    <Gap3>19.520</Gap3>
    <Gap4>2.172</Gap4>
    <Gap5>0.809</Gap5>
    <Gap6>3.547</Gap6>
    <GapOther>0.1</GapOther>
  </calcGapSpec>
  <RecheckGapSpec>
    <Gap1Top>1.399</Gap1Top>
    <Gap1Bottom>1.488</Gap1Bottom>
    <Gap2>0.709</Gap2>
    <Gap3>19.420</Gap3>
    <Gap4>2.072</Gap4>
    <Gap5>0.709</Gap5>
    <Gap6>3.447</Gap6>
    <GapOther>0.1</GapOther>
  </RecheckGapSpec>
  <AlignmentMethod>
    <AlignPoint>G1G5</AlignPoint>
  </AlignmentMethod>
</VisionParam>